apiVersion: v1
kind: Namespace
metadata:
  name: {{Namespace}}
  
---

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: {{IngressClass}}
  name: {{IngressClass}}-demo
  namespace: {{Namespace}}
spec:
  rules:
  - host: {{IngressClass}}.foo.bar
    http:
      paths:
        - backend:
            serviceName: {{IngressClass}}-demo
            servicePort: 80
          path: "/"

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{IngressClass}}-demo
  namespace: {{Namespace}}
spec:
  selector:
    matchLabels:
      app: {{IngressClass}}-demo
  template:
    metadata:
      labels:
        app: {{IngressClass}}-demo
    spec:
      containers:
      - name: {{IngressClass}}-demo
        image: nginx:1.15
        ports:
        - containerPort: 80

---

kind: Service
apiVersion: v1
metadata:
  name: {{IngressClass}}-demo
  namespace: {{Namespace}}
spec:
  selector:
    app: {{IngressClass}}-demo
  ports:
  - port: 80
    targetPort: 80

---


apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{IngressClass}}-client
  namespace: {{Namespace}}
spec:
  selector:
    matchLabels:
      app: {{IngressClass}}-client
  template:
    metadata:
      labels:
        app: {{IngressClass}}-client
    spec:
      containers:
      - name: {{IngressClass}}-client
        image: uyinn28/alpine-tool
        ports:
        - containerPort: 80
